/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.widget-map {
  /* background-color: lightskyblue; */
}

.widget-node-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin: 0 0.25em;
}

.widget-note {
  /* display: inline-block; */
  background-color: rgba(255, 255, 255, 0.103);
  padding: 0 0.25em 0 0;
  cursor: var(--cursor-link);
}

.widget-note:hover {
  background-color: rgba(255, 255, 255, 0.199);
  /* padding: 0.5ex 1em; */
  border: 2px solid white;
}

.widget-note-keyword {
  color: cyan;
  /* padding: 0.25em; */
}

.widget-note-relation {
  color: orange;
  /* padding: 0.25em; */
}

.widget-note-study {
  opacity: 100%;
  /* font-weight: bold; */
}

.widget-note-nostudy {
  opacity: 75%;
}

.widget-error-delete {
  font-style: italic;
  color: red;
  opacity: 60%;
}

.widget-error-dismiss {
  font-style: italic;
  color: green;
  opacity: 60%
}

.widget-error-warning {
  font-style: italic;
  opacity: 60%;
}

.mark-indent-error {
  background-color: rgba(255, 0, 0, 0.5);
}

.mark-tabs {
  background-color: rgba(0, 0, 0, 0.5);
}

.mindmap-text {
  color: white;
  opacity: 90%;
}

.mind-map-view-container {
  padding: 0;
}

.mind-map-view-graph-container {
  width: calc(100% - 2 * var(--size-4-3));
  height: calc(100% - var(--size-4-3) - max(var(--safe-area-inset-bottom), var(--size-4-8)) - var(--header-height));
  position: absolute;
  border: red 1px;
}

.mind-map-view-settings-container {
  position: absolute;
  background-color: lightblue;
}

.mindmap-node-label {
  fill: white;
  font-size: x-small;
  background-color: rgba(0, 0, 0, 0.205);
  text-shadow: black;
}