/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.widget-note {
  opacity: 50%;
}

.widget-note-keyword {
  color: cyan;
  /* padding: 0.25em; */
}

.widget-note-relation {
  color: orange;
  /* padding: 0.25em; */
}

.widget-note-study {
  opacity: 75%;
  /* font-weight: bold; */
}

.widget-note-nostudy {
  opacity: 25%;
}

.widget-error-delete {
  font-style: italic;
  color: red;
  opacity: 60%;
}

.widget-error-dismiss {
  font-style: italic;
  color: green;
  opacity: 60%
}

.widget-error-warning {
  font-style: italic;
  opacity: 60%;
}

.mark-indent-error {
  background-color: rgba(255, 0, 0, 0.5);
}

.mark-tabs {
  background-color: rgba(0, 0, 0, 0.5);
}

.mindmap-text {
  color: white;
  opacity: 90%;
}

.mind-map-view-container {
  padding: 0;
}

.mind-map-view-graph-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mind-map-view-settings-container {
  position: absolute;
  background-color: lightblue;
}

.mindmap-node-label {
  fill: white;
  font-size: x-small;
}